@import "../../../styles/variables";
@import "../../../styles/mixins";

@include global();

header {
  border-bottom: 2px solid $negro;
  background-color: $bg-light;
  text-align: center;

  .d-flex {
    align-items: center;
    justify-content: center;
    position: relative;

    a {
      position: absolute;
      left: 10px;
      height: 8vh;
      display: flex;
      align-items: center;
    }

    img {
      height: 8vh;
      position: absolute;
      left: 10px;
    }
  }
}
