<header>
  <div class="d-flex align-items-center py-4">
    <a routerLink="/dashboard">
      <img src="assets/img/SmartMeal_Logo.png" alt="Logo de SmartMeal" />
    </a>
    <div class="container-fluid" id="navbar">
      <ul>
        <li>
          <a routerLink="/dashboard" class="nav-link">Mi Plan</a>
        </li>
        <li>
          <a routerLink="/recetas" class="nav-link">Recetas</a>
        </li>
        <li>
          <a routerLink="/calculadora" class="nav-link">Calculadora</a>
        </li>
        <li>
          <a routerLink="/listaCompra" class="nav-link">Lista de Compras</a>
        </li>
      </ul>
    </div>
    <div id="user-container">
      <a routerLink="/perfil">
        <img id="user" src="assets/img/user.png" alt="Imagen de usuario" />
      </a>
    </div>
  </div>
</header>
