<div class="page-wrapper">
  <app-header></app-header>

  <main>
    <div class="container-fluid">
      <div class="row align-items-stretch">
        <div class="col-12 col-md-8 px-5 py-5">
          <img
            src="/../../../assets/img/Veg.png"
            alt="Plato con vegetales"
            class="img-fluid"
          />
        </div>
        <div class="col-12 col-md-4 py-5 comenzar">
          <h2 class="fw-bold">
            Tu plan de alimentación personalizado en minutos
          </h2>
          <p class="mt-5 mb-5 subtitulo">
            Planifica tus comidas saludables según tus objetivos y preferencias
            nutricionales
          </p>
          <a routerLink="/login" class="btn btn-start px-4 py-2 mt-2 rounded-5"
            >¡Comienza Ahora!</a
          >
          <p class="mt-5 subtitulo">
            Únete a +10,000 personas que mejoraron su alimentación con SmartMeal
          </p>
        </div>
      </div>
    </div>
  </main>

  <app-footer></app-footer>
</div>
