<div class="page-wrapper">
  <app-loged-header [fotoPerfilUrl]="fotoPerfilUrl"></app-loged-header>

  <main>
    <div class="container mt-4">
      <h1 class="text-center mb-2">Lista de Compras</h1>
      <p class="text-center text-muted mb-5">
        Ingredientes para las recetas seleccionadas
      </p>

      <div class="shopping-list">
        <div class="shopping-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="item1" />
            <label class="form-check-label" for="item1">Lechuga variada</label>
          </div>
          <span class="quantity">300g</span>
        </div>
      </div>

      <button class="btn mt-4">
        <i class="bi bi-plus-circle me-2"></i>
        Añadir Ingrediente
      </button>
    </div>
  </main>

  <app-footer></app-footer>
</div>
