@import "../../../styles/variables";
@import "../../../styles/mixins";

@include global();

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background-color: $bg;
  display: flex;
  flex: 1;
}

.profile-card {
  border: none;
  max-width: 70%;
  background-color: $bg;

  .profile-cover {
    background-color: $bg;
    height: 170px;
    width: 100%;
  }

  .avatar {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
  }

  .info-card {
    border-radius: 25px;
    background-color: $bg-light;

    .progress-bar {
      background-color: $verde;
    }
  }

  .stat {
    border: solid 1px #000;
    border-radius: 20px;
    margin-inline: 35px;
    padding-block: 20px;
  }
}

.logout-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
  z-index: 1000;
  background: rgba(235, 35, 35, 0.767);
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 12px 32px;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.2s;
}
.logout-btn:hover {
  background: darken(red, 10%);
}
