<div class="page-wrapper">
  <app-header></app-header>

  <main>
    <div class="container-fluid">
      <div class="row align-items-stretch">
        <div class="col-12 col-md-6 position-relative">
          <div class="image-overlay"></div>
          <img
            src="/../assets/img/Form_food.png"
            alt="Plato con vegetales"
            class="img-fluid"
          />
        </div>
        <div class="col-12 col-md-6 py-5">
          <div
            class="container d-flex justify-content-center align-items-center"
          >
            <div class="form-container">
              <h2 class="text-center mb-4">Recuperar Contraseña</h2>
              <p class="text-center text-white mb-4">
                ¿Tienes problemas para entrar? Introduce tu correo electrónico y
                te enviaremos un enlace para que vuelvas a entrar a tu cuenta.
              </p>
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                    placeholder="Introducir Email"
                    [class.is-invalid]="
                      form.get('email')?.invalid && form.get('email')?.touched
                    "
                    required
                  />
                  <div
                    *ngIf="
                      form.get('email')?.invalid && form.get('email')?.touched
                    "
                    class="invalid-feedback"
                  >
                    Debe ingresar un correo.
                  </div>
                </div>
                <button
                  type="submit"
                  class="entrar btn btn-light w-100"
                  [disabled]="loading"
                >
                  {{ loading ? "Enviando..." : "Enviar" }}
                </button>
              </form>
              <div
                *ngIf="mensaje"
                class="mensaje-resultado mt-3 text-center"
                [ngClass]="{ 'text-success': !error, 'text-danger': error }"
              >
                {{ mensaje }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <app-footer></app-footer>
</div>
